p {
  display: none;
  font-size: 14px;
}

.card {
  border: 1px solid black;
  width: 50%;
  background-color: lightblue;
  margin: 5px 0px;
}
.card h2 {
  background-color: #7ba7b5;
  width: 100%;
  padding: 3px 0px;
  text-align: center;
}
.card p {
 padding: 10px 20px;
}

h2 {
  font-size: 20px;
}
